name: Deploy to Google App Engine

on:
  # pull_request:
  #   branches: [release]
  push:
    branches: [develop]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  test:
    runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out the repository under $GITHUB_WORKSPACE, so this job can access it
      - uses: actions/checkout@v2

      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: 3.7

      - name: Install Poetry
        uses: dschep/install-poetry-action@v1.3

      - name: Cache Poetry virtualenv
        uses: actions/cache@v2
        id: cache
        with:
          path: ~/.virtualenvs
          key: poetry-${{ hashFiles('**/poetry.lock') }}
          restore-keys: |
            poetry-${{ hashFiles('**/poetry.lock') }}

      - name: Set Poetry config
        run: |
          poetry config settings.virtualenvs.in-project false
          poetry config settings.virtualenvs.path ~/.virtualenvs
      # - name: Install dependencies
      #   run: |
      #     python -m pip install --upgrade pip
      #     pip install -r requirements.txt
      # - name: Test with pytest
      #   run: |
      #     pytest
  # deploy:
  # The type of runner that the job will run on
  # runs-on: ubuntu-latest
  # needs: [test]
  # steps:
  #   - uses: actions/checkout@v2
  # Setup and configure gcloud CLI
  # More info at https://github.com/GoogleCloudPlatform/github-actions
  # - uses: GoogleCloudPlatform/github-actions/setup-gcloud@master
  #   with:
  #     version: '290.0.1'
  #     project_id: ${{ secrets.PROJECT_ID }}
  #     service_account_key: ${{ secrets.GOOGLE_APPLICATION_CREDENTIALS}}
  # - name: Deploy
  #   run: |
  #     gcloud app deploy
  # - name: Completion of CD Pipeline
  #   run : echo "App has deployed successfully"
